body {
    font-family: Arial, sans-serif;
    background-color: #26ceb2; /* Dark sky blue background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    box-sizing: border-box; /* Apply box-sizing to all elements */
}

.container {
    text-align: center;
}

.verify-email-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Style the "Get OTP" button */
#getCode {
    background-color: #007bff;
}

/* Style the "Verify OTP" button */
#verifyOTP {
    background-color: #28a745;
}

/* Style the "Resend OTP" button */
#resendOTP {
    background-color: #dc3545;
}
